In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.special as special
from scipy.optimize import curve_fit
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [11]:
df=sns.load_dataset('titanic')
df.head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True

In [12]:
df=df.fillna(method='bfill')
df=df.fillna(method='ffill')

C:\Users\hegbj\AppData\Local\Temp\ipykernel_29172\2452451499.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='bfill')
C:\Users\hegbj\AppData\Local\Temp\ipykernel_29172\2452451499.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='ffill')

In [14]:
Vars_Indep=df[['pclass','age','fare']]
Vars_Dep=df['alive']

In [15]:
X=Vars_Indep
y=Vars_Dep

In [16]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=None)

In [17]:
escalar=StandardScaler()

In [18]:
X_train=escalar.fit_transform(X_train)
X_test=escalar.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression
algoritmo=LogisticRegression()

In [20]:
algoritmo.fit(X_train,y_train)

LogisticRegression()

In [21]:
y_pred=algoritmo.predict(X_test)
y_pred

array(['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no'], dtype=object)

In [24]:
from sklearn.metrics import confusion_matrix
matriz=confusion_matrix(y_test,y_pred)
print('matriz de confusion')
print(matriz)

matriz de confusion
[[149  21]
 [ 56  42]]

In [23]:
from sklearn.metrics import precision_score
precision=precision_score(y_test,y_pred, average='binary', pos_label='yes')
print('precision')
print(precision)

precision
0.6666666666666666

In [26]:
from sklearn.metrics import accuracy_score
exactitud=accuracy_score(y_test,y_pred)
print('exactitud del modelo')
print(exactitud)

exactitud del modelo
0.7126865671641791

In [27]:
from sklearn.metrics import recall_score
sensibilidad=recall_score(y_test,y_pred, average='binary', pos_label='no')
print('sensibilidad')
print(sensibilidad)

sensibilidad
0.8764705882352941

In [28]:
unico= np.unique(df['class'])
unico

array(['First', 'Second', 'Third'], dtype=object)

In [30]:
df['class']=df['class'].replace(["Second", "Third"], "No First")
df.head(50)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,No First,man,True,C,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,No First,woman,False,C,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
5,0,3,male,54.0,0,0,8.4583,Q,No First,man,True,E,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,No First,child,False,G,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,No First,woman,False,G,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,No First,child,False,G,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,No First,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,No First,man,True,D,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,No First,child,False,D,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,No First,woman,False,D,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,No First,child,False,D,Queenstown,no,False
17,1,2,male,31.0,0,0,13.0000,S,No First,man,True,D,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,No First,woman,False,D,Southampton,no,False
19,1,3,female,35.0,0,0,7.2250,C,No First,woman,False,D,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,No First,man,True,D,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,No First,man,True,D,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,No First,child,False,A,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,No First,child,False,C,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,No First,woman,False,C,Southampton,yes,False
26,0,3,male,19.0,0,0,7.2250,C,No First,man,True,C,Cherbourg,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,40.0,0,0,7.8792,Q,No First,woman,False,B,Queenstown,yes,True
29,0,3,male,40.0,0,0,7.8958,S,No First,man,True,B,Southampton,no,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,B,Cherbourg,no,True
31,1,1,female,66.0,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,66.0,0,0,7.7500,Q,No First,woman,False,D,Queenstown,yes,True
33,0,2,male,66.0,0,0,10.5000,S,No First,man,True,D,Southampton,no,True
34,0,1,male,28.0,1,0,82.1708,C,First,man,True,D,Cherbourg,no,False
35,0,1,male,42.0,1,0,52.0000,S,First,man,True,D,Southampton,no,False
36,1,3,male,21.0,0,0,7.2292,C,No First,man,True,D,Cherbourg,yes,True
37,0,3,male,21.0,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
38,0,3,female,18.0,2,0,18.0000,S,No First,woman,False,D,Southampton,no,False
39,1,3,female,14.0,1,0,11.2417,C,No First,child,False,D,Cherbourg,yes,False
40,0,3,female,40.0,1,0,9.4750,S,No First,woman,False,D,Southampton,no,False
41,0,2,female,27.0,1,0,21.0000,S,No First,woman,False,D,Southampton,no,False
42,0,3,male,3.0,0,0,7.8958,C,No First,man,True,D,Cherbourg,no,True
43,1,2,female,3.0,1,2,41.5792,C,No First,child,False,D,Cherbourg,yes,False
44,1,3,female,19.0,0,0,7.8792,Q,No First,woman,False,D,Queenstown,yes,True
45,0,3,male,18.0,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
46,0,3,male,18.0,1,0,15.5000,Q,No First,man,True,D,Queenstown,no,False
47,1,3,female,18.0,0,0,7.7500,Q,No First,woman,False,D,Queenstown,yes,True
48,0,3,male,18.0,2,0,21.6792,C,No First,man,True,D,Cherbourg,no,False
49,0,3,female,18.0,1,0,17.8000,S,No First,woman,False,D,Southampton,no,False